{%extends 'all-pics/base.html'%}
{% load static %}
{% load bootstrap4 %}
{% block content %}
<LInk:css></LInk:css>
<div class="container">
  <div class="row row-cols-2 row-cols-md-2 g-4">

    {% for image in images %}
       <div class="col-md-6">
      <div class="card">
          <hr>
          <div class="profile-card-2"><img src="{{image.photo.url}}" class="img img-responsive">

          </div>

          <div class="col-md-4">
            <h4 class="text-center">
              <div id='butn'>
                <button class="btn btn-info btn-sm">INFO</button>
              </div>
              <div id="Modal_pic" class="modal">

                <!-- The Close Button -->
                <span class="close">&times;</span>
                {{image.photo.url}}
                <!-- Modal Content (The Image) -->
                <img class="modal-content" id="img1">

                <!-- Modal Caption (Image Text) -->
                <div id="caption"></div>
              </div>
          </div>

          {% endfor %}
        </div>
      </div>
      {% endblock %}